﻿@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);
@import 'https://fonts.googleapis.com/css?family=Oswald';

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  /*background: #fff url("../img/bg_body.jpg") repeat-x top center;*/
 padding-top: 200px; 
}

.navbar-fixed-top.scrolled {
  background-color: #222 !important;
  transition: background-color 200ms linear;
}

.navbar-fixed-top.scrolled .nav-link {
  color:#555;
}

a {
  color: #00A152;
}
header {
  margin-bottom: 30px;
}

header img {
  margin: 0 auto;
}
footer {
  background: #333;
  margin-top: 30px;
  padding: 30px 0;
  color: #fff;
}
footer p {

}
.logo {
    margin-top: -10px;
  margin-right:10px;
    float: left;

}
.list-link>ul {
  margin:10px 0;
}
.list-link>li {
  margin-left: -40px;
  list-style:none;
}

.list-link>li>a {
  color: #FFF;
}


/* SLIDE */

.myCarousel {
  width: 100%;
  max-height: 400px;
  background-color: #fff;
  margin-bottom: 30px;
}
.carousel-indicators{
  position: absolute;
  top: 10px;
}
.carousel-inner {
  width: 100%;
  max-height: 400px !important;
}
.carousel-caption{

  position: absolute;
  top: 280px;
  background-color: rgba(0,0,0,0.2);

  max-width: 100%;
  width:100%;
  left: 0px;
  padding-left: 100px;
  padding-right: 100px;
}

/* FOOTER */

.footer-icon{
  padding: 15px;
}

.footer-icon> a {
  color: #fff;
}

.copy {
  background: #000;
  padding: 10px;
  font-size: 80%;
  color: #fff;
}
.smk {
  font-size:26px;
}

.text-purple{color:#6c2271;}


/* NAVBAR */


.nav-skala{
  background: #fff url("../img/bg_header.png") right;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav-skala-a {
  color: black;
}

.nav-skala-a span {

}

.navbar-skala {
  margin-top: 15px;
  margin-bottom: 15px;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: #fff;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
  background-color: #1BA859;
}
.navbar-default .navbar-brand {
    color: #fff;
  text-transform: uppercase;
}
.navbar-default {
  /*
  background-color: #1BA859;
    border-color: #048b73;

  -webkit-box-shadow: 0px 4px 23px -5px rgba(0,0,0,0.31);
  -moz-box-shadow: 0px 4px 23px -5px rgba(0,0,0,0.31);
  box-shadow: 0px 4px 23px -5px rgba(0,0,0,0.31);

    */
  text-align: right;
  background-color: transparent;
  border-color: transparent;
  font-family: 'Oswald', sans-serif;
}
.navbar-default .navbar-nav>li>a {
  background-color: rgba(76, 175, 80, 0.7);
  height: 92px;
  width: 92px;
  margin: 10px 5px 0 5px;
  text-transform: uppercase;
    color: #FFF;
  text-align: center;

}
.navbar-default .navbar-nav>li.kotak-0>a {background-color:rgba(3, 169, 244, 0.7);}
.navbar-default .navbar-nav>li.kotak-1>a {background-color:rgba(244, 67, 54, 0.7) ;}
.navbar-default .navbar-nav>li.kotak-2>a {background-color: rgba(233, 30, 99, 0.7);}
.navbar-default .navbar-nav>li.kotak-3>a {background-color: rgba(156, 39, 176, 0.7);}
.navbar-default .navbar-nav>li.kotak-4>a {background-color: rgba(63, 81, 181, 0.7);}
.navbar-default .navbar-nav>li.kotak-5>a {background-color: rgba(0, 188, 212, 0.7);}
.navbar-default .navbar-nav>li.kotak-download>a {background-color: rgba(0, 150, 136, 0.7) ;}
.navbar-default .navbar-nav>li.kotak-gallery>a {background-color: rgba(0, 0, 0, 0.7) ;}


.navbar-default .navbar-nav>li.kotak-0>a:hover, .dropdown-menu.kotak-0 {background-color:rgba(3, 169, 244, 1) !important;}
.navbar-default .navbar-nav>li.kotak-1>a:hover, .dropdown-menu.kotak-1 {background-color:rgba(244, 67, 54, 1) ;}
.navbar-default .navbar-nav>li.kotak-2>a:hover, .dropdown-menu.kotak-2 {background-color: rgba(233, 30, 99, 1);}
.navbar-default .navbar-nav>li.kotak-3>a:hover, .dropdown-menu.kotak-3 {background-color: rgba(156, 39, 176, 1);}
.navbar-default .navbar-nav>li.kotak-4>a:hover, .dropdown-menu.kotak-4 {background-color: rgba(63, 81, 181, 1);}
.navbar-default .navbar-nav>li.kotak-5>a:hover, .dropdown-menu.kotak-5 {background-color: rgba(0, 188, 212, 1);}
.navbar-default .navbar-nav>li.kotak-download>a:hover {background-color: rgba(0, 150, 136, 1) ;}
.navbar-default .navbar-nav>li.kotak-gallery>a:hover {background-color: rgba(0, 0, 0, 1) ;}


.navbar-default .navbar-nav>li>a i {
  color: #fff;
  font-size: 20px;
  display: block;

  margin: auto;
  margin-top: 10px;
  width: 50%;
  padding-bottom: 10px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #2d943b;
    background-color: #FFF;
}


.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  color: #FFF;
  background-color: #34c6ac;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #34c6ac;
}



.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-toggle {
    background-image: none;
    border: none;
    background: transparent !important;
}
.navbar-toggle:hover {
    background: transparent !important;
}
.navbar-toggle .icon-bar {
    width: 22px;
    transition: all 0.2s;
}
.navbar-toggle .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
    opacity: 0;
}
.navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
}


/* OTHER  */



input.search-query {
  font-weight: bold;
  border-radius: 99em;
    padding: 5px 0px 5px 36px;
  width: 100%;

}
form.form-search {
    position: relative;
  margin: 30px 0;

}
form.form-search:before {
    display: block;
    width: 20px;
    height: 20px;
    content: "\e003";
    font-family: 'Glyphicons Halflings';
    background-position: -21px 0;
    position: absolute;
    top:6px;
    left:15px;
    opacity: .5;
    z-index: 1000;
}

.btn-baged {
  margin-bottom: 15px;
  background-color: #fff;
  border: 1px solid #c4d7d4;

}
.btn-baged a:hover {
  text-decoration: none;
}
.btn-baged .head {
  padding: 6px 10px;
  color: #000;
  background: #e7f1f4 url("../img/bg_wg_tf.png")no-repeat right;
  font-size: 17px;
  font-weight: bold;
}

.btn-baged .head img {
  margin: 0 10px 0 0;
  width: 40px;
  float: left;
}
.btn-baged .head span {
  color: #555;
  font-size: 17px;
}
.btn-baged>ul {
  margin-bottom: 0px;
  margin-left: -22px;
}
.btn-baged>ul>li {
   list-style:none;
   padding: 5px 10px;
   margin-left: -18px;
   border-bottom: 1px solid #eee;
}
.btn-baged>ul>li>small {
  padding-bottom:10px;
}
.btn-baged>ul>li>a {
  line-height: 1.5em;
}
.btn-baged>ul>li>a:hover{
  text-decoration: none;
  color: #1BA859;
}


/* */

.grid-menu {
  margin: 0;
}

.grid-menu .item {
  background: #fff;
  border: 1px solid #eee;
  padding: 10px;
  min-height: 110px;
}

.grid-menu .item:hover {
  background: #eee;
}

.grid-menu .item a {

}
.grid-menu .item a  span {
  text-transform: uppercase;
}
.grid-menu .item a  img {
  margin: 0 auto;
}



.divider {
    width: 100%;
    margin: 20px 0;
    padding: 0;
    text-align: center;
  height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #bdc2c2;
    width: 100%;
}

.headline {
  position: relative;
  width: 100%;
  height: 220px;
  overflow: hidden;
}
.headline img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.list-group-item{text-transform:uppercase;}


.blog {
  line-height: 1.4em;
  margin-bottom: 20px;
}

.blog .image-thum {
  width: 100%;
  background-color: #fff;
  padding: 5px;
}

.blog h2{
  font-size: 22px;
  font-weight: bold;
}
.blog h3{
  font-size: 22px;
  font-weight: bold
}
.blog>h3>span {
  border-bottom: 3px solid #1BA859;
}
.blog .meta {
  color: #989898;
  margin: 10px 0 20px 0;
  font-size: 12px;
  text-transform: capitalize;
}
.blog .content {
  margin-bottom:50px;
}

/**/

.blog-wrapper {
    border: 1px solid #c4d7d4;
  margin-bottom: 15px;
}

.blog-wrapper>header {
  padding: 5px 10px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  background: #e7f1f4;
  border-bottom: 3px solid #c4d7d4;
  margin-bottom:0px;
}

.blog2 {
  padding:10px;
  border-bottom: 1px solid #c4d7d4;
}

.gelap {
  background-color: #f5f5f5;
}

.terang {
  background-color: #fff;
}

.blog2 h2{
  margin-top: 0px;
  font-size: 18px;
  font-weight: bold;
}
.blog2 h3{
  font-size: 22px;
  font-weight: bold
}
.blog2 .meta {
  color: #989898;
  margin: 10px 0 20px 0;
  font-size: 12px;
  text-transform: capitalize;
}
.blog2 .content {
  margin-bottom:50px;
}

.readmore {
  font-style: italic;
  font-weight: bold;
}

.share-blog {
  background: #fff;
  margin: 0 5px 20px 20px;
  padding: 0 10px 10px 10px;
  border-radius: 6px;
  font-size: 20px;
  float: right;
  text-align: right;
}

.share-blog a {color: #999;}

.share-blog .fa-whatsapp:hover{
  color: #4ACB57;
}
.share-blog .fa-twitter:hover{
  color: #42C0FB;
}
.share-blog .fa-facebook:hover{
  color: #3A589B;
}
.share-blog .fa-google-plus:hover{
  color: #D21819;
}
.comments {
  background: #FFF;
}



@media (max-width: 767px){
  .navbar-default .navbar-nav>li>a {
    line-height: 20px;
    width: 100%;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a{
    
  }
  .navbar-brand {
    line-height: 20px;
  }
  .blog h2{
    min-height: 0px;
  }
  .headline {
    min-height: 100px;
  }
}

.dropdown-menu {
    min-width: 200px;
    background-color: #0eb799;
}
.dropdown-menu>li>a{
  color: #fff;
}
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}
.dropdown-submenu .dropdown-menu {
  left: 100%;
  top: 0;
}
.dropdown-submenu .pull-left {
  float: none;
}

.event-list {
  list-style: none;
  margin: 0;
  padding: 0px;
}
.event-list > li {
  margin: 0px;
  padding: 0px;
}
.event-list > li > .info {
  width: 100%;
  min-height: 60px;
  background-color: #49dac0;
  padding: 10px;
  text-align: center;
  color: #444948;
}
.event-list > li > .info:hover {
  background-color: #1BA859;
  color: #fff;
}
.event-list > li:nth-child(even) > .info {
  background-color: #b8e8df;
}
.event-list > li > .info > span {
  display: none;
}

.event-list > li > .info > a {
  font-size: 14px;
  font-weight: 700;
  margin: 0px;
  color: #444948;
}
.event-list > li > .info > .desc {
  font-size: 12px;
  font-weight: 300;
  margin: 0px;
}

.gallery-video {
  margin: 10px;
}

.vid-clip-sm {
  width: 121px;
  height: 88px;
  position: relative;
  margin: 0 8px 8px 0;
  float: left;
}

.vid-clip-sm .vid-clip-play {
  width: 121px;
  height: 88px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.vid-clip-sm .vid-clip-play:hover {
  background-color: rgba(0, 0, 0, 0.3);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#66000000', endColorstr='#66000000'); /* IE */

}

.vid-clip-sm .vid-clip-play img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -22px 0 0 -22px;
  width: 44px;
}

.gallery-album {

}

.gallery-album ul {
  list-style-type: none;
  margin-left: -40px;
  margin-bottom: 0px;
}

.gallery-album h3 {
  font: bold 14px/1.5;
  margin-bottom: 0px;
  margin-top: 0px;
}

.gallery-album li img {
  max-width: 120px;
  float: left;
  margin: 0 15px 0 0;
}

.gallery-album li p {
  font: 200 12px/1.5;
}

.gallery-album li {
  padding: 10px;
  overflow: auto;
  margin: 0px;
}

.gallery-album li:hover {
  background: #eee;
  cursor: pointer;
}


a>.card{
  color: #333;
}
.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  width: 100%;
  height: 95%;
}

.card>img{
  width: 100%;
}
.card>h2{
  font-size: 20px;
  margin: 15px 15px 15px 15px;
  color: #00A152;
}

.card>p{
  font-size: 14px;
  margin: 15px 15px 30px 15px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-h{
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 0.6rem;
  width: 100%;
  height: 95%;
}

.card-h>img{
  height: 9rem;
  width: auto;
  float: left;
}

.card-h-judul{
  text-align: left;
  font-size: 18px;
  margin: 5px 5px 5px 20px;
  color: #00A152;
}
.card-h-isi{
  text-align: left;
  font-size: 14px;
  margin: 5px 5px 5px 20px;
}


.row.equal {
  display: flex;
  flex-wrap: wrap;
}

.judul{
  padding-bottom: 1.2rem;
}
.judul>span{
  border-bottom: 4px solid #81C784;
}

.input{
  width: 100%;
  margin: 0.5rem;
  border:1px solid #888;
  padding: 0.5rem;
}



#txtcarousel {
  position: relative;
  width:100%;
  margin:0 auto;
  margin-top: -50px;
}

#txtslides {
  overflow: hidden;
  position: relative;
  width: 100%;
}

#txtslides ul {
  list-style: none;
  width:100%;
  margin: 0;
  padding: 0;
  position: relative;
}

#txtslides li {
  width:33%;
  float:left;
  text-align: center;
  position: relative;
  font-family:lato, sans-serif;
}
/* Styling for prev and next buttons */
.btn-bar{
  margin: 0 auto;
  position: relative;
  top: -25px;
  width: 100%;
}

#buttons {
  margin:0 auto;
  text-align: center;

}

#buttons a {
  text-align:center;
  font-size:50px;
  outline:0;
  margin:0 60px;
  color:#aaa;
  text-decoration:none;
  display:inline-block;
  padding:0 40px;
}

a#prev:hover, a#next:hover {
  color:#777;
}

.quote-phrase, .quote-author {
  font-family:sans-serif;
  font-weight:100;
  display: table-cell;
  vertical-align: middle;
  padding: 5px 10px;
  font-family:'Lato', Calibri, Arial, sans-serif;
}

.quote-phrase {
  font-size:16px;
  color: #333333;
  font-style:italic;
}

.quote-marks {
  font-size:12px;
  padding:0 3px 3px;
  position:inherit;
}

.quote-author {
  font-style:normal;
  font-size:12px;
  color:#00A152;
}

.quoteContainer, .authorContainer {
  display: table;
  width: 100%;
}


@media only screen and (max-device-width: 480px) {
  .navbar-header{
    background-color: #2d943b;
  }
 
}